header{
    background: rgb(192, 192, 192);
    display: flex;
    justify-content: space-around;
}

.profil{
    display: flex;
    gap: 10px;
}

.presentation{
    background: teal;
    text-align: center;
}

.actors_presentation{
    background: grey;
    text-align: center;
}

footer{
    background: darkgrey;
    text-align: center;
}

.inscription {
    background: teal;
    text-align: center;

}